<div class="bg-blue-900 text-center text-xl text-white">
    <br>
<p>© 2021-Present @LightningSchool project</p>
    <br>
<p>{{license}}</p>
    <br>
<p>LightningSchool project's logo and name regised under the CC BY 4.0</p>
    <br>
    <div id="social">
        <a href="https://mastodon.social/@lightningschool">
<img src="assets/mastodon.png" alt="Mastodon">
        </a>
        <a href="https://github.com/lightningschool">
<img src="assets/github.png" alt="GitHub">
        </a>
        <a href="https://www.reddit.com/r/LightningSchool">
<img src="assets/reddit.png" alt="Reddit">
        </a>
    </div>
</div> 