<div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-center">
        <div>
            <img class="m-auto" src="assets/code-black.png" alt="code">
    <h3>Free and open source sofware</h3>
    <p>{{foss}} </p>
        </div>
        <div>
            <img class="m-auto" src="assets/free.png" alt="free">
    <h3>Free of charges</h3>
    <p>{{free}}</p>
        </div>
        <div>
            <img class="m-auto" src="assets/shield.png" alt="Shield">
    <h3>Privacy and security</h3>
    <p>{{privacy}} </p>
        </div>
        <div>
            <img class="m-auto" src="assets/done.png" alt="done">
    <h3>Users experience</h3>
    <p>{{users}} </p>
        </div>
        <div>
            <img class="m-auto" src="assets/server.png" alt="stability">
    <h3>Stability</h3>
    <p>{{stability}} </p>
        </div>
        <div>
            <img class="m-auto" src="assets/person.png" alt="person">
    <h3>By users for users</h3>
    <p>{{by}} </p>
        </div>
    </div>