<div class="bg-blue-900">
<br>
    <h2 class="text-white text-3xl ">LightningSchool project</h2>
<br>
<br>
    <h1 class="text-center text-white text-5xl">{{foss}} </h1>
    <br>
<div class="text-white grid grid-cols-1 md:grid-cols-2 gap-4 text-center">
        <a href="https://github.com/lightningschool/docs">
        <button class="transition duration-350 ease-in-out bg-gray-900 transform hover:-translate-y-1 hover:scale-110 rounded-mg ">
        <img class="m-auto" src="assets/doc.png" alt="Docs">
            <p>Documentation</p>
        </button>
        </a>
        <a href="https://github.com/lightningschool">
         <button class="transition duration-350 ease-in-out bg-gray-900 transform hover:-translate-y-1 hover:scale-110 rounded-md">
        <img class="m-auto" src="assets/github-little.png" alt="GitHub">
            <p>Contribute</p>
        </button>
        </a>
    </div>
    <br>
</div>
    <br>
<app-features></app-features>
<app-team></app-team>
<app-blog></app-blog>
<app-footer></app-footer>