@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom css */

@font-face {
    font-family: 'Roboto';
    src: url(assets/roboto.otf);
}

*{
font-family: 'Roboto', sans-serif;
}