        <br>
    <hr class="h-1 bg-blue-800 border-none w-3/5 m-auto">
<br>
<h3 class="text-center">The LightningSchool project's team</h3>
    <br>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-center">
        <div>
            <h4>Diego</h4>
            <p>{{diego}} </p>
        </div>
        <div>
            <h4>Anton</h4>
            <p>{{anton}} </p>
        </div>
        <div>
            <h4>Nathan</h4>
            <p>{{nathan}} </p>
        </div>
    </div>
        <br>